body {
	background-color: black;
}


#main {
	color: white;
	font-family: Helvetica;
	font-size: 32;
    left: 0;
    line-height: 25px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
}

.emailInfo {
	font-size: 26;
}

a {
	color: lightblue;

}